.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: none;
}

.home_header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
.home_header a{
    margin-right: 20px;
    text-decoration: inherit;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
}

.home_header a:hover{
    text-decoration: underline;
}
.home_headerRight {
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;

}
.home_headerLeft {
    opacity: 0%;
}
.home_headerRight > .MuiSvgIcon-root {
    margin-right: 20px;
    color: #70757a;
}

.home_body {
    flex: 1;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
}
.home_body > img {
    object-fit: contain;
    height: 100px;
}

.search_footer{
    padding: 20px 30px;
    align-items: center;
    background: #f2f2f2;
}

.search_footer a{
    margin-right: 20px;
    text-decoration: inherit;
    color: #70757a;
    font-size: 15px;
}

.search_footer a:hover{
    text-decoration: underline;
}
.search_footerRight {
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;

}

.search_footerTitre  {
    border-bottom: 1px solid #dadce0;
    padding-bottom: 2px;
    font-size: 20px;
    color: rgba(0,0,0,.54);
}

.search_footerBotton {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    color: #70757a;
}

@media (max-width: 640px) {
    .search_footerBotton{
        display: block;
    }
}